spring:
  application:
    name: eureka-server

server:
  port: 8000

eureka:
  server:
    renewal-percent-threshold: 0.49
  instance:
    hostname: localhost
  client:
    register-with-eureka: false
    fetch-registry: false
